In [100]:
import pandas as pd
import numpy as np
import csv

In [101]:
movies = pd.read_csv('TheMovies.csv')

In [103]:
df2 = pd.read_csv('movie_credit.csv')

In [104]:
df2.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [105]:
movies = movies.merge(df2, on='title')

In [106]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.7+ KB

In [107]:
# convert list

import ast
def str_list(x):
    x=ast.literal_eval(x)
    l=[]
    for item in x:
        l.append(item['name'])
        
    return l

In [108]:
movies['cast']=movies['cast'].apply(str_list)

In [109]:
import ast
def str2_list(x):
    x=ast.literal_eval(x)
    l=[]
    for item in x:
        if item['job']=='Director':
            l.append(item['name'])
    return l

In [110]:
movies['crew']=movies['crew'].apply(str2_list)

In [111]:
movies['cast']

0       [Sam Worthington, Zoe Saldana, Sigourney Weave...
1       [Johnny Depp, Orlando Bloom, Keira Knightley, ...
2       [Daniel Craig, Christoph Waltz, Léa Seydoux, R...
3       [Christian Bale, Michael Caine, Gary Oldman, A...
4       [Taylor Kitsch, Lynn Collins, Samantha Morton,...
                              ...
4804    [Carlos Gallardo, Jaime de Hoyos, Peter Marqua...
4805    [Edward Burns, Kerry Bishé, Marsha Dietlein, C...
4806    [Eric Mabius, Kristin Booth, Crystal Lowe, Geo...
4807    [Daniel Henney, Eliza Coupe, Bill Paxton, Alan...
4808    [Drew Barrymore, Brian Herzlinger, Corey Feldm...
Name: cast, Length: 4809, dtype: object

In [112]:
movies['crew']

0                                [James Cameron]
1                               [Gore Verbinski]
2                                   [Sam Mendes]
3                            [Christopher Nolan]
4                               [Andrew Stanton]
                          ...
4804                          [Robert Rodriguez]
4805                              [Edward Burns]
4806                               [Scott Smith]
4807                               [Daniel Hsia]
4808    [Brian Herzlinger, Jon Gunn, Brett Winn]
Name: crew, Length: 4809, dtype: object

In [113]:
movies['genres']=movies['genres'].apply(str_list)
movies['keywords']=movies['keywords'].apply(str_list)

In [114]:
# Finding NA values

movies.isna().sum()

budget                     0
genres                     0
homepage                3096
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
movie_id                   0
cast                       0
crew                       0
dtype: int64

In [115]:
movies.sample(5)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
198,130000000,"[Fantasy, Action, Comedy, Crime]",http://www.ripd.com/,49524,"[gold, police operation, partner, revenge, und...",en,R.I.P.D.,A recently slain cop joins a team of undead po...,39.448066,"[{""name"": ""Universal Pictures"", ""id"": 33}, {""n...",...,96.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,To protect and serve the living,R.I.P.D.,5.4,1260,49524,"[Jeff Bridges, Ryan Reynolds, Kevin Bacon, Ste...",[Robert Schwentke]
2733,13000000,"[Comedy, Drama, War]",NaN,801,"[rock and roll, radio station, war crimes, ent...",en,"Good Morning, Vietnam",Radio funny man Adrian Cronauer is sent to Vie...,18.362333,"[{""name"": ""Silver Screen Partners III"", ""id"": ...",...,121.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Time to rock it from the Delta to the DMZ!,"Good Morning, Vietnam",7.1,642,801,"[Robin Williams, Forest Whitaker, Tung Thanh T...",[Barry Levinson]
3183,0,[Drama],http://www.foxsearchlight.com/thesavages,8272,"[father son relationship, depression, parents ...",en,The Savages,A sister and brother face the realities of fam...,5.663889,"[{""name"": ""Fox Searchlight Pictures"", ""id"": 43...",...,114.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,The Savages,6.8,110,8272,"[Laura Linney, Philip Seymour Hoffman, Philip ...",[Tamara Jenkins]
3184,0,"[Comedy, Romance]",NaN,24621,[woman director],en,Chasing Papi,Playboy Thomas Fuentes has so far been able to...,1.118511,"[{""name"": ""Fox 2000 Pictures"", ""id"": 711}]",...,80.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Three women. Three cities. Three times the tro...,Chasing Papi,6.3,16,24621,"[Roselyn Sánchez, Sofía Vergara, Jaci Velasque...",[Linda Mendoza]
3747,4000000,"[Action, Drama, Romance]",NaN,27191,"[circus, travelling circus]",en,The Greatest Show on Earth,"To ensure a full profitable season, circus man...",8.988455,"[{""name"": ""Paramount Pictures"", ""id"": 4}]",...,152.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,NaN,The Greatest Show on Earth,6.6,50,27191,"[Betty Hutton, Cornel Wilde, Charlton Heston, ...",[Cecil B. DeMille]

In [116]:
# Removing space
def _join(x):
    l=[]
    for i in x:
        l.append(i.replace(" ",""))
    return l

In [117]:
movies['cast']=movies['cast'].apply(_join)

In [118]:
movies['cast']=movies['cast'].apply(lambda i:i[0:3])

In [119]:
movies['cast']

0        [SamWorthington, ZoeSaldana, SigourneyWeaver]
1           [JohnnyDepp, OrlandoBloom, KeiraKnightley]
2            [DanielCraig, ChristophWaltz, LéaSeydoux]
3            [ChristianBale, MichaelCaine, GaryOldman]
4          [TaylorKitsch, LynnCollins, SamanthaMorton]
                             ...
4804    [CarlosGallardo, JaimedeHoyos, PeterMarquardt]
4805         [EdwardBurns, KerryBishé, MarshaDietlein]
4806           [EricMabius, KristinBooth, CrystalLowe]
4807            [DanielHenney, ElizaCoupe, BillPaxton]
4808    [DrewBarrymore, BrianHerzlinger, CoreyFeldman]
Name: cast, Length: 4809, dtype: object

In [120]:
new_df = pd.DataFrame(movies,columns=['id', 'homepage', 'title', 'cast', 'crew', 'overview', 'genres', 'keywords'])

In [121]:
new_df.head(5)

,id,homepage,title,cast,crew,overview,genres,keywords
0,19995,http://www.avatarmovie.com/,Avatar,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[James Cameron],"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon..."
1,285,http://disney.go.com/disneypictures/pirates/,Pirates of the Caribbean: At World's End,"[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[Gore Verbinski],"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ..."
2,206647,http://www.sonypictures.com/movies/spectre/,Spectre,"[DanielCraig, ChristophWaltz, LéaSeydoux]",[Sam Mendes],A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi..."
3,49026,http://www.thedarkknightrises.com/,The Dark Knight Rises,"[ChristianBale, MichaelCaine, GaryOldman]",[Christopher Nolan],Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i..."
4,49529,http://movies.disney.com/john-carter,John Carter,"[TaylorKitsch, LynnCollins, SamanthaMorton]",[Andrew Stanton],"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel..."

In [122]:
new_df['crew']=new_df['crew'].apply(_join)

In [123]:
new_df.head()

,id,homepage,title,cast,crew,overview,genres,keywords
0,19995,http://www.avatarmovie.com/,Avatar,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon..."
1,285,http://disney.go.com/disneypictures/pirates/,Pirates of the Caribbean: At World's End,"[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ..."
2,206647,http://www.sonypictures.com/movies/spectre/,Spectre,"[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi..."
3,49026,http://www.thedarkknightrises.com/,The Dark Knight Rises,"[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i..."
4,49529,http://movies.disney.com/john-carter,John Carter,"[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel..."

In [124]:
new_df.isna().sum()

id             0
homepage    3096
title          0
cast           0
crew           0
overview       3
genres         0
keywords       0
dtype: int64

In [125]:
new_df['homepage']=new_df['homepage'].fillna(0)

In [126]:
url = list(enumerate(new_df['homepage']))
new_df['urls']=0
for i in range(len(url)):
    if new_df['homepage'][i]==0:
        
        x = ("{}/{}".format('https://www.', str("".join(list(new_df['title'][url[i][0]].split())))))
        
        new_df['urls'][i]=x
    else:
        new_df['urls'][i]=new_df['homepage'][i]

C:\Users\user\AppData\Local\Temp\ipykernel_15528\1947524128.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['urls'][i]=new_df['homepage'][i]

In [127]:
new_df['urls']

0                             http://www.avatarmovie.com/
1            http://disney.go.com/disneypictures/pirates/
2             http://www.sonypictures.com/movies/spectre/
3                      http://www.thedarkknightrises.com/
4                    http://movies.disney.com/john-carter
                              ...
4804                              https://www./ElMariachi
4805                               https://www./Newlyweds
4806    http://www.hallmarkchannel.com/signedsealeddel...
4807                          http://shanghaicalling.com/
4808                          https://www./MyDatewithDrew
Name: urls, Length: 4809, dtype: object

In [128]:
new_df.sample(5)

,id,homepage,title,cast,crew,overview,genres,keywords,urls
4334,202604,0,The Vatican Exorcisms,[JoeMarino],[JoeMarino],Documentary following US film-maker Joe Marino...,"[Horror, Documentary, Mystery]",[exorcism],https://www./TheVaticanExorcisms
3397,1956,0,Gerry,"[CaseyAffleck, MattDamon]",[GusVanSant],Two friends named Gerry become lost in the des...,"[Mystery, Drama, Adventure]","[desperation, highway, wilderness, getting los...",https://www./Gerry
947,588,http://www.sonypictures.com/homevideo/silenthill/,Silent Hill,"[RadhaMitchell, SeanBean, LaurieHolden]",[ChristopheGans],The eerie and deserted ghost town of Silent Hi...,"[Horror, Mystery]","[monster, mother role, burning of witches, fog...",http://www.sonypictures.com/homevideo/silenthill/
71,1735,http://www.themummy.com/,The Mummy: Tomb of the Dragon Emperor,"[BrendanFraser, JetLi, JohnHannah]",[RobCohen],"Archaeologist Rick O'Connell travels to China,...","[Adventure, Action, Fantasy]",[],http://www.themummy.com/
3735,1088,http://www.whaleriderthemovie.com/,Whale Rider,"[KeishaCastle-Hughes, RawiriParatene, VickyHau...",[NikiCaro],"On the east coast of New Zealand, the Whangara...","[Drama, Family]","[ocean, loss of mother, tradition, loss of bro...",http://www.whaleriderthemovie.com/

In [129]:
def spliting(text):
    text =str(text).split()
    return text

In [130]:
new_df['overview']=new_df['overview'].apply(spliting)

In [131]:
new_df['all_tags']=new_df['overview']+new_df['genres']+new_df['keywords']+new_df['cast']+new_df['crew']

In [132]:
new_df.drop(columns=['overview','genres','keywords','cast','crew','homepage'], inplace=True)

In [133]:
new_df.head()

,id,title,urls,all_tags
0,19995,Avatar,http://www.avatarmovie.com/,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,http://disney.go.com/disneypictures/pirates/,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,http://www.sonypictures.com/movies/spectre/,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,http://www.thedarkknightrises.com/,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,http://movies.disney.com/john-carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [134]:
# convert tags to lower case

def convert_lower(text):
    l=[]
    for item in text:
        l.append(item.lower())
    return l

In [135]:
new_df['all_tags']=new_df['all_tags'].apply(convert_lower)

In [136]:
new_df.head()

,id,title,urls,all_tags
0,19995,Avatar,http://www.avatarmovie.com/,"[in, the, 22nd, century,, a, paraplegic, marin..."
1,285,Pirates of the Caribbean: At World's End,http://disney.go.com/disneypictures/pirates/,"[captain, barbossa,, long, believed, to, be, d..."
2,206647,Spectre,http://www.sonypictures.com/movies/spectre/,"[a, cryptic, message, from, bond’s, past, send..."
3,49026,The Dark Knight Rises,http://www.thedarkknightrises.com/,"[following, the, death, of, district, attorney..."
4,49529,John Carter,http://movies.disney.com/john-carter,"[john, carter, is, a, war-weary,, former, mili..."

In [137]:
pip install nltk

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: nltk in c:\programdata\anaconda3\lib\site-packages (3.7)
Requirement already satisfied: tqdm in c:\programdata\anaconda3\lib\site-packages (from nltk) (4.64.0)
Requirement already satisfied: regex>=2021.8.3 in c:\programdata\anaconda3\lib\site-packages (from nltk) (2022.3.15)
Requirement already satisfied: click in c:\programdata\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: joblib in c:\programdata\anaconda3\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from click->nltk) (0.4.4)
Note: you may need to restart the kernel to use updated packages.

In [138]:
import nltk
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()
def steming(text):
    l=[]
    for i in text:
        l.append(ps.stem(i))
    return l

In [139]:
new_df['all_tags']=new_df['all_tags'].apply(steming)

In [140]:
new_df.sample(5)

,id,title,urls,all_tags
1053,4379,Monster-in-Law,https://www./Monster-in-Law,"[offic, temp, charlott, cantilini, think, she'..."
3008,12182,Nick and Norah's Infinite Playlist,https://www./NickandNorah'sInfinitePlaylist,"[nick, cannot, stop, obsess, over, hi, ex-girl..."
3359,24977,Michael Jordan to the Max,https://www./MichaelJordantotheMax,"[thi, documentari, showcas, basketbal, player,..."
1796,134,"O Brother, Where Art Thou?","https://www./OBrother,WhereArtThou?","[in, the, deep, south, dure, the, 1930s,, thre..."
504,328111,The Secret Life of Pets,http://www.thesecretlifeofpets.com/,"[the, quiet, life, of, a, terrier, name, max, ..."

In [141]:
new_df['all_tags']=new_df['all_tags'].apply(_join)

In [142]:
new_df['all_tags'] =new_df['all_tags'].apply(lambda x: " ".join(x))

In [143]:
# Vectorization

from sklearn.feature_extraction.text import CountVectorizer
cv= CountVectorizer(stop_words='english')

In [144]:
data = cv.fit_transform(new_df['all_tags']).toarray()
data

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [145]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(data)
similarity

array([[1.        , 0.06776309, 0.06862635, ..., 0.03571429, 0.        ,
        0.        ],
       [0.06776309, 1.        , 0.05063697, ..., 0.01976424, 0.        ,
        0.0209427 ],
       [0.06862635, 0.05063697, 1.        , ..., 0.02001602, 0.        ,
        0.        ],
       ...,
       [0.03571429, 0.01976424, 0.02001602, ..., 1.        , 0.03311331,
        0.03311331],
       [0.        , 0.        , 0.        , ..., 0.03311331, 1.        ,
        0.07017544],
       [0.        , 0.0209427 , 0.        , ..., 0.03311331, 0.07017544,
        1.        ]])

In [146]:
def recommend(movie):
    index = new_df[new_df['title'] == movie].index[0]
    distance = sorted(list(enumerate(similarity[index])),reverse=True, key=lambda x: x[1])
    
    for i in distance[1:6]:
        print("{} {}".format(new_df.iloc[i[0]].title, new_df.iloc[i[0]].urls))

In [147]:
recommend("Avatar")

Aliens https://www./Aliens
Aliens vs Predator: Requiem http://www.avp-r.com/
Titan A.E. https://www./TitanA.E.
Independence Day https://www./IndependenceDay
Battle: Los Angeles http://www.battlela.com

In [148]:
recommend('Batman')

Batman https://www./Batman
Batman & Robin https://www./Batman&Robin
The R.M. http://www.halestormentertainment.com/p_movies_details.asp?mID=jnlppmp8
Batman Begins http://www2.warnerbros.com/batmanbegins/index.html
Batman Returns https://www./BatmanReturns

In [149]:
recommend('Suicide Squad')

X-Men https://www./X-Men
Superhero Movie https://www./SuperheroMovie
Megamind http://www.megamind.com
The Helix... Loaded https://www./TheHelix...Loaded
Hellboy II: The Golden Army https://www./HellboyII:TheGoldenArmy

In [150]:
recommend('After')

This Is Martin Bonner http://www.montereymedia.com/theatrical/films/this_is_martin_bonner.html
30 Days of Night http://www.30daysofnight.com/
The Fog http://www.theofficialjohncarpenter.com/the-fog/
The Trouble with Harry https://www./TheTroublewithHarry
Aliens vs Predator: Requiem http://www.avp-r.com/

In [151]:
import pickle

In [155]:
pickle.dump(new_df,open('movieRecmdn.pkl','wb'))
pickle.dump(similarity,open('Mi_Similarity.pkl','wb'))

In [153]:
np.array(new_df['title'])

array(['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre',
       ..., 'Signed, Sealed, Delivered', 'Shanghai Calling',
       'My Date with Drew'], dtype=object)